# make sure to update the alemayhu/base-image-n2a
# and pull it in the live server: ssh root@2anki.net docker pull alemayhu/base-image-n2a
genanki==0.13.1
pydantic>=2.13.3,<3.0.0
pylint>=4.0.5
ftfy~=6.3.1
pytest
mock
