/* Typography */

body {
	font-family: 'Baloo 2', cursive;
	text-align: center;
}

.header {
    background: #2D8CFF;
    text-align: center;
    padding: 1rem;		
}
.header h1 {
    color: white;
}

/* Layout  */
.container {
	width: 80%;
	margin: 0 auto;
}

.center-file {
	justify-content: center;
	flex-direction: column;
}

.file-label {
	align-items: center;
}