<script>
    /* SPLIT HIERARCHICAL TAGS */
    var tagEl = document.querySelector('.tags');
    if (tagEl) {
        var tags = tagEl.innerHTML.split(' ');
        var html = '';
        tags.forEach(function(tag) {
            if (tag.includes('::')) {
                var topleveltag = tag.substring(0, tag.indexOf("::"));
                var bottomleveltag = tag.substring(tag.lastIndexOf("::") + 2);
            } else {
                var bottomleveltag = tag;
            }
            var newTag = '<span class="tag ' + topleveltag + ' ' + bottomleveltag + '">' + bottomleveltag + '</span>';
            html += newTag;
        });
        tagEl.innerHTML = html;
    }
</script>

<div class="note">
    <div class="front k">
        {{#Tags}}
        <div class="tags row">{{Tags}}</div>{{/Tags}}
        <div class="question row">
            {{#text2 image}}
            <div class="image">{{text2 image}}</div>{{/text2 image}}{{Front}}<br>{{type:Input}}
        </div>
    </div>
</div>

<div class="note backonly">
    <div class="back k">
        <div class="row">{{Back}}</div>
        {{#explanation}}
        <div class="explanation row">{{explanation}}</div>{{/explanation}}
    </div>
</div>