<!DOCTYPE html>
<html class="night-mode webkit chrome mac js">

<head>
        <link rel="stylesheet" href="anki-es/overview.css">
        <link rel="stylesheet" href="anki-es/reviewer.css">

        <style>
                body {
                        width: 256px;
                        height: 256px;
                        background-color: #ececec !important;
                }
        </style>
</head>

<body class="card card1 isMac nightMode night_mode" onload="addCustomStyle()">
        <!-- Some markup is from Anki project  -->
        <!-- https://github.com/ankitects/anki/blob/98a4a1927a8e781a1c0b4a297caa8e86134ac027/qt/aqt/reviewer.py -->
        <!-- TODO: add some basic js to toggle front / back (opacity changes and the back is of course hidden) -->
        <script>
                async function addCustomStyle() {
                        console.log('page has loaded!')
                        // Dynamically load the custom CSS
                        // TODO: move these into a own directory and update the references (check python code)
                        let customStyle = '';
                        const downloadItAsText = async (filename) => {
                                let req = new Request(`/templates/${filename}`);
                                const res = await window.fetch(req);
                                return res.text();
                        };
                        const stylesToLoad = ['notion.css', 'cloze_style.css', 'custom.css'];
                        for (const filename of stylesToLoad) {
                                customStyle += await downloadItAsText(filename);
                        }                 
                        const customStyleEl = document.createElement('style');
                        customStyleEl.innerHTML = customStyle;
                        document.body.appendChild(customStyleEl);
                }
        </script>

        <div id="qa" style="opacity: 1;">
                <span class="front-text-post">
                        <div class="toggle">Question</div>
                </span>
                <hr id="answer">
                <span class="back-text">
                        <p>Answer</p>
                </span>
        </div>
</body>

</html>