.heroTitle {
  font-size: var(--text-8xl);
  font-weight: var(--font-bold);
  letter-spacing: var(--tracking-tight);
  line-height: var(--leading-tight);
  color: #2b2e3c;
}

@media (max-width: 1024px) {
  .heroTitle {
    font-size: var(--text-4xl);
    text-align: left;
  }
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
}

.heroSubtitle {
  text-align: center;
  background: linear-gradient(#6b5eff, 70%, #5397f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
  .heroSubtitle {
    text-align: left;
  }
}

.heroSubtitleAlignRight {
  align-self: flex-end;
  color: #5397f5;
}

@media (max-width: 1024px) {
  .heroSubtitleAlignRight {
    align-self: flex-start;
  }
}

.heroParagraph {
  font-size: var(--text-xl);
}

@media (max-width: 1024px) {
  .heroParagraph {
    font-size: var(--text-base);
    text-align: left;
    margin: unset;
  }
}

.formSection {
  padding: 2rem;
}
