NOTION_CLIENT_ID=''
NOTION_CLIENT_SECRET=''
NOTION_REDIRECT_URI=''
SENDGRID_API_KEY=''
PATREON_CLIENT_ID=''
PATREON_CLIENT_SECRET=''
PATREON_CLIENT_REDIRECT=''
THE_HASHING_SECRET=''
DOMAIN=''
WEB_BUILD_DIR=''
WORKSPACE_BASE=''
CREATE_DECK_DIR=''
SPACES_DEFAULT_BUCKET_NAME=''
SPACES_ENDPOINT=''
WORKSPACE_BASE=''
