<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>2anki.net - Deck Ready</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>

<body class="content">
  <section class="section">
    <div class="container">
      <h1 class="title">Your converted deck is ready!</h1>
      <p class="subtitle">
        Download your converted deck here. This link is valid for 24 hours.

        <a href="{{link}}">{{link}}</a>

        <strong>This link will expire so make sure to download the file.</strong>

        Happy learning.
      </p>
      <p>
        If you are having any issues, don't hesitate to ask for help! Reply to
        this email.
      </p>
      <p>Happy learning,</p>
      <p><strong>The 2anki Team</strong></p>
      <p><a href="https://2anki.net/">https://2anki.net/</a></p>
      <hr />
      <p class="has-text-grey-light">
        If you did not request this deck conversion, please contact us via
        email
        <a href="mailto:support@2anki.net">support@2anki.net</a>.
      </p>
    </div>
  </section>
</body>

</html>
