<p>Hei {{name}},</p>

<p>
        We want to inform you about an upcoming change to your 2anki subscription. As a Norwegian company (Lær Smart
        AS),
        we are required by law to collect Value Added Tax (VAT) on our services.
</p>

<p>
        <strong>What this means for your subscription</strong><br>
        Your current monthly subscription costs {{amount}}. In the near future,
        we will need to add 25% VAT to this amount, as required by Norwegian law.
</p>

<p>
        We understand this change might affect your decision to continue using our service. If you wish to cancel your
        subscription,
        you can do so at any time using <a href="https://buy.stripe.com/cN2cPC6ek7RCbjGdQU">this link</a>.
        If you have any questions or concerns, please email us at
        <a href="mailto:support@2anki.net">support@2anki.net</a>.
</p>

<p style="margin-top: 2em; color: #666;">
        --<br>
        Happy learning,<br>
        The 2anki Team<br>
        <a href="https://2anki.net/" style="color: #0066cc; text-decoration: none;">2anki.net</a>
</p>