html,
body {
  text-align: center;
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  color: black;
  background-color: white;
  border: lightgray 1px solid;
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
  width: 80%;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 0 8px #ccc;
  border: 1px solid #fff;
}

.front-text-pre {
  font-size: 1.5rem;
}

.front-text-post {
  color: gray;
  font-size: 1rem;
}

.back-text {
  font-size: 1.5rem;
  text-align: left;
}

.extra {
  color: gray;
}
