<style>
        html {
                width: 100vw;
                height: 100vh;
        }

        body {
                background: url(%s) no-repeat;
                background-size: cover;
                color: white;
        }

        center {
                background: linear-gradient(45deg, black, transparent);
                mix-blend-mode: difference;
                border-radius: 0.2rem;
                padding: 1rem;
        }

        p {
                color: white;
        }

        p:first-of-type {
                text-align: center;
        }

        .review-count,
        .learn-count,
        .new-count {
                padding: 0.1rem 0.3rem;
                background: white;
                border-radius: 0.3rem;
        }

        .patreon-cta {
                text-decoration: none;
                color: white;
                background: tomato;
                padding: 0.1rem 0.3rem;
                border-radius: 0.3rem;
                text-align: center;
        }
</style>