<style>
        html {
                width: 100vw;
                height: 100vh;
        }

        body {
                background: url(%s) no-repeat;
                background-size: cover;
                color: black;
        }

        .nightMode body {
                color: white;
        }


        center {
                background: linear-gradient(45deg, white, transparent);
                mix-blend-mode: difference;
                border-radius: 0.2rem;
                padding: 1rem;
        }

        .nightMode center {
                background: linear-gradient(45deg, black, transparent);
        }

        p {
                color: black;
        }

        .nightMode p {
                color: white;
        }

        p:first-of-type {
                text-align: center;
        }

        .review-count,
        .learn-count,
        .new-count {
                padding: 0.1rem 0.3rem;
                border-radius: 0.3rem;
        }

        .nightMode .new-count {
                background: white;
        }

        .patreon-cta {
                text-decoration: none;
                color: black;
                background: tomato;
                padding: 0.1rem 0.3rem;
                border-radius: 0.3rem;
                text-align: center;
        }

        .nightMode .patreon-cta {
                color: white;
        }

        /* Bookmark style is from Notion styles */
        .bookmark {
                text-decoration: none;
                max-height: 8em;
                padding: 0;
                display: flex;
                width: 100%;
                align-items: stretch;
        }

        .source {
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 1.5em;
                word-break: break-all;
        }

        .bookmark-info {
                flex: 4 1 180px;
                padding: 12px 14px 14px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }

        .bookmark-title {
                font-size: 0.85em;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 1.75em;
                white-space: nowrap;
        }

        .bookmark-text {
                display: flex;
                flex-direction: column;
        }

        .bookmark-description {
                color: rgba(55, 53, 47, 0.6);
                font-size: 0.75em;
                overflow: hidden;
                max-height: 4.5em;
                word-break: break-word;
        }

        .bookmark-href {
                font-size: 0.75em;
                margin-top: 0.25em;
        }

        .icon {
                display: inline-block;
                max-width: 1.2em;
                max-height: 1.2em;
                text-decoration: none;
                vertical-align: text-bottom;
                margin-right: 0.5em;
        }

        .bookmark-icon {
                /* intentionally left-open */
        }

        .bookmark-image {
                width: 33%;
                flex: 1 1 180px;
                display: block;
                position: relative;
                object-fit: cover;
                border-radius: 1px;
        }

        /* Add some rounded corners and make it use less size on the height */
        .bookmark-image {
                border-radius: 0.3rem;
                margin: 1rem;
        }

        /* Make sure default Notion color is not messing up */
        .bookmark-description {
                color: black;
        }

        .nightMode .bookmark-description {
                color: white;
        }

        .bookmark-title {
                color: black;
        }

        .nightMode .bookmark-title {
                color: white;
        }

        .bookmark-href {
                color: black;
        }

        .nightMode .bookmark-href {
                color: white;
        }
</style>

<figure id="be7333af-6bbe-4bc2-9143-a4bb7a2c0e4f"><a href="http://2anki.net/" class="bookmark source">
                <div class="bookmark-info">
                        <div class="bookmark-text">
                                <div class="bookmark-title">Create better Anki flashcards faster and easier today!</div>
                                <div class="bookmark-description">notion2Anki is a free project to convert Notion toggle lists to Anki Flashcards fast and easy 😉😉😉</div>
                        </div>
                        <div class="bookmark-href"><img src="https://2anki.net/favicon-16x16.png"
                                        class="icon bookmark-icon" />http://2anki.net/</div>
                </div><img src="https://2anki.net/notion2anki.png" class="bookmark-image" />
        </a>
</figure>