<!DOCTYPE html>

<head>
        <!-- TODO: review the order? -->
        <link rel="stylesheet" href="custom.css">
        <link rel="stylesheet" href="cloze_style.css">
        <link rel="stylesheet" href="notion.css">
        <link rel="stylesheet" href="anki_review.css">
</head>

<body>
        <!-- Some markup is from Anki project  -->
        <!-- https://github.com/ankitects/anki/blob/98a4a1927a8e781a1c0b4a297caa8e86134ac027/qt/aqt/reviewer.py -->
        <div id="_mark">&#x2605;</div>
        <div id="_flag">&#x2691;</div>
        <div id="qa">
                <span class="front-text-pre">{{Front}}</span>
                <span class="front-text-post">{{Front}}</span>
                <hr id="answer">
                <span class="back-text">{{Back}}</span>
        </div>

</body>

</html>